/* .page {
  background-color: #000;
  max-width: 880px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
} */

/* .header {
  width: 100%;
  padding: 33px 27px 0 31px;
  box-sizing: border-box;
} */

/* .header__img {
  max-width: 103px;
} */

/* .profile {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 70px 0 0 0;
} */
/* .profile__avatar {
  margin: 0 auto 0 auto;
  width: 100%;
  max-width: 120px;
  border-radius: 50%;
  border: 1px solid transparent;
} */
/* .profile__name {
  margin: 0 auto;
} */
/* .profile__container {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin: 0 auto;
} */
/* .profile__info {
  padding: 24px 0px 0px 30px;
  margin: 0 auto;
  font-size: 27px;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
  color: #fff;
} */

/* .profile__edit-info {
  transform: translate(9px, -6px);
  max-width: 7.5px;
  padding: 5.25px ;
  border: 1px solid #fff;
}
.profile__edit-info:hover {
  opacity: 0.6;
} */
/* .profile__subtitle {
  margin: 0 auto;
  padding-top: 7px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #fff;
  text-align: center;
} */

/* .profile__button {
  max-width: 16px;
  margin: 33px auto 0;
  padding: 17px 120px 15px 135px;
  border: 1px solid #fff;
}
.profile__button:hover {
  opacity: 0.6;
} */

/* .group__list {
  padding: 0;
  margin: 36px auto 0;
  display: flex;
  flex-direction: column;
  row-gap: 21px;
} */

/* .post {
  padding: 0;
  margin: 0 auto;
  max-width: 282px;
  border-radius: 5% 5% 5% 5%;
  background-color: #fff;
} */
/* .post__img {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  border-radius: 5% 5% 0 0;
} */

/* .post__container {
  padding: 21px 19px 25px 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* .post__text {
  padding: 0;
  margin: 0;
  border-radius: 0 0 5% 5%;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
} */

/* .post__img-heart {
  max-width: 23px;
  height: auto;
} */

/* .popup {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
} */
 /*.popup_opened {
  /* display: flex; */
/*}*/

/* .popup__container {
  width: 100%;
  max-width: 282px;
  position: relative;
  background-color: #fff;
  border-radius: 5%;
} */

/* .popup__close {
  position: absolute;
  top: -36px;
  right: 0px;
  max-width: 20px;
} */
/* .popup__close:hover {
  opacity: 0.6;
} */
/* .popup__title {
  padding: 0;
  margin: 27px auto 0;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
} */

/* .popup__info {
  padding: 0 22px;
  border: 0;
  margin: 70px auto 0;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
} */
/* .popup__input {
  padding-bottom: 10px;
  border: 0;
  width: 100%;
  max-width: 238px;
  border-bottom: 1px solid #C7C7CD;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.popup__input::-webkit-input-placeholder {
  font-style: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #000;
}
.popup__input::-moz-placeholder  {
  font-style: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #000;
}
.popup__input:-ms-input-placeholder  {
  font-style: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #000;
}

.popup__input::-webkit-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.5s ease;
}
.popup__input:focus::-webkit-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.5s ease;
} */

/* .popup__handlers {
  box-sizing: border-box;
  padding: 0;
  max-width: 238px;
  margin: 0 auto;
  border: 0;
  margin: 45px auto 25px;
} */
/* .popup__button {
  width: 100%;
  padding: 14px 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  background-color: #000;
  color: #fff;
  border-radius: 5%;
  border: 0;
}

.popup__button:hover {
  opacity: 0.8;
} */

@media screen and (min-width: 768px) {
  /* .header {
    padding: 45px 0 0 0;
    width: 100%;
  } */
  /* .header__img {
    max-width: 142px;
  } */
  /* .profile__avatar {
    margin: 0;
  } */
  /* .profile {
    position: relative;
    margin: 0 auto;
    flex-direction: row;
    align-items: flex-start;
    padding: 77px 0 0 0;
  } */
  /* .profile__name {
    margin: 0;
  } */
  /* .profile__info {
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
  } */
  /* .profile__edit-info {
    transform: translate(15px, -8px);
    max-width: 10px;
    padding: 7px;
  } */
  /* .profile__subtitle {
    padding: 7px 0 0 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: start;
  } */
  /* .profile__button {
    position: absolute;
    right: 0;
    max-width: 22px;
    margin: 35px 0 0 0;
    padding: 14px 64px;
  } */
  /* .group__list {
    max-width: 880px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 17px;
    margin: 50px 0 0 0;
  } */
  /* .popup__container {
    box-sizing: border-box;
    max-width: 430px;
    padding: 0 36px;
  } */
  /* .popup__close {
    position: absolute;
    top: -40px;
    right: -40px;
    max-width: 32px;
  } */
  /* .popup__title {
    margin-top: 34px;
    text-align: start;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
  } */
  /* .popup__info {
    margin-top: 45px;
    padding: 0;
  } */
  /* .popup__input {
    max-width: 358px;
  } */
  /* .popup__handlers {
    max-width: 358px;
  } */
  /* .popup__button {
    padding: 14px 124px 18px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  } */
}
