.post {
  padding: 0;
  max-width: 282px;
  border-radius: 5% 5% 5% 5%;
  background-color: #fff;
  position: relative;
}

.post__trash {
  position: absolute;
  top: 20px;
  right: 21px;
}

.post__trash:hover {
  opacity: 0.6;
  cursor: pointer;
}