.profile__info {
  padding: 24px 0px 0px 30px;
  margin: 0 auto;
  font-size: 27px;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .profile__info {
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
  }
}
