.popup__input {
  padding-top: 3px;
  padding-bottom: 10px;
  border: 0;
  width: 100%;
  max-width: 238px;
  border-bottom: 1px solid #C7C7CD;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.popup__input::-webkit-input-placeholder, .popup__input::-moz-placeholder, .popup__input:-ms-input-placeholder {
  font-style: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #000;
  text-indent: 0px;
  transition: text-indent 0.5s ease;
}

.popup__input:focus::-webkit-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.5s ease;
}

@media screen and (min-width: 768px) {
  .popup__input {
    max-width: 358px;
  }
}
