.profile__button {
  display: block;
  max-width: 16px;
  margin: 33px auto 0;
  padding: 33px 140px 15px 140px;
  border: 1px solid #fff;
  background-image: url(../../../image/plus-button.svg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
}
.profile__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .profile__button {
    position: absolute;
    right: 0;
    max-width: 22px;
    padding: 23px 74px;
    background-size: 22px;
  }
}
