.header {
  width: 100%;
  max-width: 880px;
  padding: 33px 27px 30px 31px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (min-width: 768px) {
  .header {
    padding: 45px 0 41px 0;
  }
}
